@import 'tailwindcss';

@theme {
    /* =============== Colors =============== */
    /* Remove all default tailwind colors */
    --color-*: initial;

    /* Grey */
    --color-background-dark: oklch(0.1776 0 0);
    --color-background-light: oklch(0.2134 0 0);

    --color-interactive-dark: oklch(0.252 0 0);
    --color-interactive-mid: oklch(0.285 0 0);
    --color-interactive-light: oklch(0.3132 0 0);

    --color-border-dark: oklch(0.3485 0 0);
    --color-border-mid: oklch(0.4017 0 0);
    --color-border-light: oklch(0.4891 0 0);

    --color-solid-dark: oklch(0.5382 0 0);
    --color-solid-light: oklch(0.5829 0 0);

    --color-text-dark: oklch(0.7699 0 0);
    --color-text-light: oklch(0.9491 0 0);

    /* Accent - Blue */

    --color-accent-background-dark: oklch(0.1936 0.0255 256.49);
    --color-accent-background-light: oklch(0.2129 0.0303 261.25);

    --color-accent-interactive-dark: oklch(0.2745 0.0663 253.93);
    --color-accent-interactive-mid: oklch(0.3201 0.0968 252.35);
    --color-accent-interactive-light: oklch(0.3671 0.1059 250.7);

    --color-accent-border-dark: oklch(0.416 0.1133 252.01);
    --color-accent-border-mid: oklch(0.4741 0.1219 253.09);
    --color-accent-border-light: oklch(0.5406 0.1395 253.17);

    --color-accent-solid-dark: oklch(0.6493 0.193 251.78);
    --color-accent-solid-light: oklch(0.6884 0.1693 251.4);

    --color-accent-text-dark: oklch(0.7642 0.1257 249.46);
    --color-accent-text-light: oklch(0.9071 0.051 238.45);

    /* Utility colors */
    --color-red: oklch(0.6256 0.1933 23.03);
    --color-green: oklch(0.6406 0.1329 157.68);

    /* =============== Typography =============== */
    --font-sans: Inter, sans-serif;
    --text-xs: 0.75rem;
    --text-xs--line-height: calc(1 / 0.75);
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings:
        'liga' 1,
        'calt' 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}
